body, html {
  height: 100%;
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: #777;
}

/*Login form*/

.input-form input{
  height: 40px;
  font-size: 14px;
  outline: none;
  border: 1px solid #EEE;
  border-radius: 5px;
}
.input-form input:focus{
  outline: none;
  box-shadow: none;
}
#submit, #lsubmit{
  font-size: 21px;
  font-weight: 700;
  min-width: 150px;
  min-height: 50px;
  color: #333;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0 1px 15px rgba(0,0,0,0.1);
}
#submit:hover, #lsubmit:hover{
  box-shadow: 0 1px 15px rgba(0,0,0,0.2);
}
.trigger{
  color: #AAA !important;
  font-size: 21px;
  font-weight: 700;  
}
.custom:hover{
  cursor: pointer;
}

/*General*/
a {
  color: #00B8D4;
  text-decoration: none;
}
a:hover {
  color: #00B8D4;
  text-decoration: none;
}
.blue{
  color: #00B8D4; 
}
.clear-paddings{
  padding: 0;
}
.clear-margins{
  margin: 0;
}
.orange{
  color: #ff5722 !important;
}
.hide{
  display: none !important;
}